{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="{% unless section.settings.full_width %}page-width{% endunless %}">
  <div class="rich-text color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}">

      {% if section.settings.layout_type == 'two_column' %}
        <div class="two-col-wrapper">

          <div>
            <h2 class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}">
              {% for block in section.blocks %}
                {% if block.type == 'heading_word' %}
                  <span style="color: {{ block.settings.color }}">
                    {{ block.settings.text }}
                  </span>
                {% endif %}
              {% endfor %}
            </h2>

            {% for block in section.blocks %}
              {% if block.type == 'caption' %}
                <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}">
                  {{ block.settings.caption }}
                </p>
              {% endif %}
            {% endfor %}
          </div>

          <div>
            {% for block in section.blocks %}
              {% if block.type == 'text' %}
                <div class="rich-text__text rte">
                  {{ block.settings.text }}
                </div>
              {% endif %}
              {% if block.type == 'button' %}
                <div class="rich-text__buttons">
                  <a href="{{ block.settings.button_link }}" class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
                    {{ block.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      {% else %}

        <div class="rich-text__blocks {{ section.settings.content_alignment }}">
          {% comment %} <h2 class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}">
                                    {% for block in section.blocks %}
                                      {% if block.type == 'heading_word' %}
                                        <span style="color: {{ block.settings.color }}">
                                          {{ block.settings.text }}
                                        </span>
                                      {% endif %}
                                    {% endfor %}
                              </h2> {% endcomment %}

          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'heading_word' %}
                <h2 class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}">
                  {% for block in section.blocks %}
                    {% if block.type == 'heading_word' %}
                      <span style="color: {{ block.settings.color }}">
                        {{ block.settings.text }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </h2>
              {% when 'caption' %}
                <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}">
                  {{ block.settings.caption }}
                </p>
              {% when 'text' %}
                <div class="rich-text__text rte">
                  {{ block.settings.text }}
                </div>
              {% when 'button' %}
                <div class="rich-text__buttons">
                  <a href="{{ block.settings.button_link }}" class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
                    {{ block.settings.button_label }}
                  </a>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Rich text",
    "settings": [
      {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Desktop content position"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Content alignment"
      },
      {
        "type": "select",
        "id": "layout_type",
        "options": [
          {
            "value": "single",
            "label": "Single column"
          }, {
            "value": "two_column",
            "label": "Two columns"
          }
        ],
        "default": "single",
        "label": "Layout"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          }, {
            "value": "h2",
            "label": "H2"
          }, {
            "value": "h3",
            "label": "H3"
          }, {
            "value": "hxl",
            "label": "XL"
          }
        ],
        "default": "h1",
        "label": "Heading size"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "default": 40,
        "label": "Padding top"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "default": 52,
        "label": "Padding bottom"
      }
    ],
    "blocks": [
      {
        "type": "heading_word",
        "name": "Heading word",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Word or phrase",
            "default": "Title Word"
          }, {
            "type": "color",
            "id": "color",
            "label": "Color",
            "default": "#000000"
          }
        ]
      }, {
        "type": "caption",
        "name": "Caption",
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "label": "Caption text",
            "default": "Caption"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "Subtitle"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "Caption spacing"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "Text style"
          }, {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }, {
                "value": "large",
                "label": "Large"
              }
            ],
            "default": "medium",
            "label": "Text size"
          }
        ]
      }, {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Give your customer an explanation on this part.</p>"
          }
        ]
      }, {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Label",
            "default": "Label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary",
            "label": "Secondary style",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich Text",
        "blocks": [
          {
            "type": "caption"
          }, {
            "type": "heading_word"
          }, {
            "type": "text"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}